body {
    background: #272121;
    font-family: Poppins, "Open Sans";
}

.bigFont {
    font-size: 72px;
    line-height: 1.2;
}

.bgDark {
    background: #363333;
}

.card {
    max-width: 300px;
    width: 100%;
}